<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Demo</title>
</head>

<body>
    <div class="container" id="container_app">
        <h1>🐱‍💻 hola {{ name }} 🐱‍💻</h1>
        <input type="text" v-model="name">

        <br>
        <button @click="count++">
            Count is: {{ count }}
        </button>
        <br>
        <input type="number" v-model.number="num1">
        <br>
        <input type="number" v-model.number="num2">

        <button @click="sumar">
            Sumar
        </button>
        <h3>
            Resultado <span v-if="result != null"> {{ result }}</span>
        </h3>
        <img src="silvestre.jpg">
    </div>
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <script type="module">
        const { createApp, ref } = Vue;

        createApp({
            data() {
                return {
                    name: '',
                    count: 0,
                    num1: 0,
                    num2: 0,
                    result: null,
                };
            },
            methods: {
                sumar() {
                    this.result = this.num1 + this.num2;
                },
            },
        }).mount('#container_app');
        
    </script>
</body>

</html>